@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures the header stays above other content */
    width: 100%;
    background-color: #EFF1F3; /* Optional: Set a background color */
}


header nav{
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    
    padding-left: 10px;
    padding-right: 20px;
    
}
header nav .location{
    margin-top: 0px;
    height: 50px;
    border: 2px solid #002F34;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;cursor: pointer;
}
header nav .location input{
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    
}


header nav .searchbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .searchbar input{
    width: 60vw;
    height: 50px;
    border: 2px solid #002F34;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-right: 0;
}


header nav .searchbar .serach-icon{
    height: 50px;
    width: 40px;
    background-color: #002F34;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
header nav .searchbar i{
    /* background-color: #002F34; */
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
header nav .language{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .language a{
    text-decoration: none;
    color:#002F34;
    font-size: 1rem;
}
header nav .language span{
    cursor: pointer;
}
header nav .login{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .login a{
    color: #002F34;
    text-decoration: none;
    border-bottom: 2px solid #002F34;
}
header nav .login a:hover{
    border-bottom: none;
}

header nav .sell-button button {
    height: 40px;
    width: 80px;
    border-radius: 50px;
    color: #002F34;
    cursor: pointer;
    font-weight: 700;
}
header nav .sell-button button:hover{
    background-color: #002F34;
    color: white;
}
header nav .hamburger{
    visibility: hidden;
}
@media (max-width: 1000px) {
    header nav .location,
    header nav .searchbar,
    header nav .language,
    header nav .login,
    header nav .sell-button {
        display: none;
    }
    header nav {
        justify-content: space-between;
    }
    header nav .hamburger {
        display: block;
        visibility: visible;
    }
}



/* category list */

.categories-list{
    width: 100vw;
    height: 40px;
    border: 2px solid #EFF1F3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
    font-size: 0.9rem;
}

.categories-list .categories{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    a{
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
    span{
        cursor: pointer;
    }
}

.categories-list .list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    li{
        cursor: pointer;
    }
}

.categories-list .list ul li:hover{
    color: #2badbc;
    transition: 0.2s ease-in-out;
}
@media (width <= 425px){
    .categories-list {
        border: none;
    }
    .categories-list .list ul{
        flex-direction: column;
        margin-top: 100px;
    }
}


@media (width <= 1000px) {
    .categories-list{
        width: 100vw;
        height: 40px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
    }
}



/*ad1-img */
.ad1{
    height: 300px;
    margin: 30px;
    display: flex;
    justify-content: center;
}
.ad1 .ad-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FA;
    width: 70%;
    img{
        border: 1px solid #EFF1F3;
        cursor: pointer;
    }
}
.ad1 .ad-container p{
    font-size: 0.8rem;
}


@media (width <= 1000px) {
    .ad1{
        height: 200px;
        margin: 5px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .ad1 .ad-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F8F9FA;
        width: 30%;
        img{
            border: 1px solid #EFF1F3;
            cursor: pointer;
            width: 100%;
        }
    }
}

@media (width <= 425px){
    .ad1{
        visibility: hidden;
    }
    
}


/* recommendations  grid*/
.text-grid {
    width: 50%;
    display: flex;
    justify-content: center;
}



body {
    overflow-x: hidden;
}
.container {
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(5, 300px);
    grid-template-columns: repeat(4, 300px);
    gap: 10px;
    padding: 20px;
    justify-content: center;
    /* align-items: center; */

}
.card {
    height: 280px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 15px;
}
.card .card-content .fit-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.description {
    font-size: 14px;
    color: #555;
}
.location {
    font-size: 12px;
    color: #777;
    margin-top: 10px;
}

@media (width <= 1260px) {
    .container{
        display: grid;
        grid-template-rows: repeat(7, 300px);
        grid-template-columns: repeat(3, 300px);
        gap: 10px;
        padding: 20px;
        justify-content: center;
    }
}
@media (width <= 1000px) {
    .container{
        display: grid;
        grid-template-rows: repeat(10, 300px);
        grid-template-columns: repeat(2, 300px);
        gap: 10px;
        padding: 20px;
        justify-content: center;
    }
}

@media (width <= 425px){
    .container{
        display: grid;
        grid-template-rows: repeat(1, 300px);
        grid-template-columns: repeat(1, 300px);
        gap: 10px;
        padding: 20px;
        justify-content: center;
    }
}

/* load more button */
.load-more-button{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.load-more-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.load-more-btn:hover {
    background-color: #002F34;
    color: white;
}

/*ad2-img */
.ad2{
    height: 300px;
    margin: 30px;
    display: flex;
    justify-content: center;
}
.ad2 .ad-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #F8F9FA; */
    width: 70%;
    img{
        border: 1px solid #EFF1F3;
        cursor: pointer;
    }
}
.ad2 .ad-container p{
    font-size: 0.8rem;
}

@media (width <= 1000px) {
    .ad2{
        height: 200px;
        margin: 5px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .ad2 .ad-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F8F9FA;
        width: 30%;
        img{
            border: 1px solid #EFF1F3;
            cursor: pointer;
            width: 100%;
        }
    }
}



/* TOP FOOTER */
.top-footer{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #F7F8F9;
}

.top-footer .olx-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    p{
        font-size: 1.2rem;
    }
    
}

.top-footer .get-your-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.top-footer .get-your-app .stores img{
    width: 90px;
    cursor: pointer;
}

@media (width <=1000px){
    .top-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}





/* footer */

.footer-section{
    width: 100vw;
    /* margin: 20px; */
    display: flex;
    justify-content: space-evenly;
    background-color: #EBEEEF;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.footer-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100vw;
    font-size: small;
    
}
.footer-container ul li{
    padding-top: 4px;
}

.footer-section .popular-locations ul li{
    list-style: none;
}
.footer-section .popular-locations ul li a{
        text-decoration: none;
        color: #71674e;
}
.footer-section .tranding-locations ul li{
    list-style: none;
}
.footer-section .tranding-locations ul li a{
    text-decoration: none;
    color: #71674e;
}
.footer-section .about-us ul li{
    list-style: none;
}
.footer-section .about-us ul li a{
    text-decoration: none;
    color: #71674e;
}
.footer-section .olx ul li{
    list-style: none;
}
.footer-section .olx ul li a{
    text-decoration: none;
    color: #71674e;
}

.footer-section .follow-us{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-section .follow-us .social-links a img{
    width: 20px;
    cursor: pointer;
}
.footer-section .follow-us .app-links a img{
    width: 100px;
    cursor: pointer;
}

.footer-section .footer-container a:hover{
    color: black;
}


@media (width <=1200px){
    
    .footer-section{
        width: 100vw;
        /* margin: 20px; */
        display: flex;
        flex-direction: column;
        background-color: #EBEEEF;

    }
    .footer-container{
        /* flex-direction: column; */
        align-items: center;
        flex-wrap: wrap;

    }
}



/* footer */
.footer-ele{
    width: 100%;
    background-color: #002F34;
    display: flex;
    flex-direction: column;
}
.footer-ele .footer-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 10px;
    margin-top: 20px;
}
.footer-ele .footer-img img{
    width: 100px;
}
.footer-ele .footer-img .img1{
    width: 150px;
}
.footer-ele .footer-img .img2{
    width: 50px;
}

.footer-ele .copyright{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 12px;
}

@media (width <= 1000px){
    .footer-ele{
        width: 100vw;
    }
    .footer-ele .footer-img{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 80px;
        padding: 10px;
        margin-top: 20px;
    }
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.landing-page {
    animation: fadeIn 1s ease-in-out;
}

/* Apply the fade-in effect to specific sections */
header, .categories-list, .ad1,.ad2, .container, .footer-section, .top-footer, .footer-section, footer {
    animation: fadeIn 1s ease-in-out;
}

.text-grid{
    animation: fadeIn 1s ease-in-out;
}
.load-more-button{
    animation: fadeIn 1s ease-in-out;
}
